body {
    display: flex;
    height: 100vh;
}

#graph {
    width: 50%;
    background-color: white;
    box-sizing: border-box;
}

#oscilloscope {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
}

#controls {
    width: 50%;
    background-color: rgb(209, 209, 209);
    box-sizing: border-box;
}

#tabBar {
    display: flex;
}

.tabActiveButton {
    display: inline-block; /* make it look like a block */
    padding: 2px; /* give it a little space */
    
    background-color: #181818;
    color: #bebebe;
    border-right: 1px solid #2c2c2c;

}



/* VS Code colors
background: #181818
activeTab: #1f1f1f
outlines: #2c2c2c
text: #bebebe
VS code: 007ad9

*/